.container{
    background-color: blue;   
.section{    
padding-top: 50px;
padding-bottom: 50px;
padding-left: 250px;

.registration{
background-color: antiquewhite;
border-radius: 6px;
width: 500px;
height: 400px;

h2{
text-align: center;
padding-top: 20px;

}




.registration-registration{
display: flex;
flex-direction: column;
padding-left: 20px;
padding-right: 20px;
span{
    padding-top: 10px; 
    padding-bottom: 10px;   
    }
.email-empty{
display: none;
color:red;
font-size: 10px;    
}
.email-valid{
display: none;
color:red;
font-size: 10px;     
}
.password-empty{
display: none;
color:red;
font-size: 10    
}
        
.password-valid{
display: none;
color:red;
font-size: 10     
}
.input__registration-registration{
width: 400px;
height: 20px;
display: flex;
border-radius: 5px;

}

}
.registration__checkbox{
    padding-left: 10px;
    padding-top: 10px;
.chekbox-valid{
display: none;
color:red;
font-size: 10     
}       
}
 
.button-registration{
width: 150px;
height: 50px;
background-color: blue;
color: antiquewhite;
border-radius: 3px;
margin-left: 150px;
margin-top: 50px;    
} 

}
}
}